@import './variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Quicksand:wght@300..700&display=swap');
@import './componentes.scss';


body{
    background-image: url(../imagenes/istockphoto-1191343717-612x612.jpg);
    background-size: cover;        
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-position-y:0 ;
}

.contenedor {
    position: relative;
    height:100vb;
    height: auto;
}